body {
    background: #faf6f3;
    font-family: "Segoe UI", sans-serif;
}

.navbar {
    background: #5d4037;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.container {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.card {
    background: white;
    padding: 22px;
    border-radius: 14px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

.card h3 {
    color: #6d4c41;
    margin-bottom: 8px;
}
.back-btn {
    text-decoration: none;
    background: white;
    color: #0d47a1;
    padding: 8px 14px;
    border-radius: 8px;
    font-weight: 600;
    border: 2px solid #0d47a1;
    transition: 0.3s ease;
}

.back-btn:hover {
    background: #0d47a1;
    color: white;
}
